# Node modules
node_modules/

# Build output
dist/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency directories
jspm_packages/

# Temporary files
tmp/
temp/

# IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/

# TypeScript
*.tsbuildinfo

# Miscellaneous
*.tgz
package-lock.json
yarn.lock
